/*
* === FONTS ===
*/

$font-family-content: Montserrat,Roboto,Arial,sans-serif;
$font-family-secondary: Roboto,Arial,sans-serif;

$font-weight-medium: 500;



/*
* === COLORS ===
*/

$color-bg-dark: #202124;
$color-bg-medium: #28292c;
$color-bg-light: rgba(241, 243, 244, 0.24);
$color-bg-air: rgba(232, 234, 237, 0.08);

$color-border: #5f6368;

$color-text-primary: #e8eaed;
$color-text-secondary: #80858b;

$color-accent: #41331c;



/*
* === SIZES ===
*/

$size-content-width-max: 60rem;
$size-content-width-min: 20rem;

$size-grid-gap: 1rem;

$size-general-padding-y: 0.75rem; 
$size-general-padding-x: 1rem; 
$size-general-padding: $size-general-padding-y $size-general-padding-x;

$size-general-border-radius: 0.5rem;

$size-header-height: 4rem;
$size-bar-height: 2.875rem;
$size-search-bar-width: 44rem;
$size-note-create-width: 36rem;
$size-note-create-margin: 2rem auto;



/*
* === SHADOWS ===
*/

$shadow-header: 
  0 4px 5px 0 rgba(0,0,0,0.14), 
  0 1px 10px 0 rgba(0,0,0,0.12), 
  0 2px 4px -1px rgba(0,0,0,0.2);
$shadow-note-create: 
  0 1px 2px 0 rgba(0,0,0,0.6), 
  0 2px 6px 2px rgba(0,0,0,0.302);



/*
* === MISC ===
*/

$border: 1px solid $color-border;
$transition-fast: background 0.1s ease-out;