  /*
  * === FONTS ===
  */
  $font-family: Roboto,Arial,sans-serif;


  /*
  * === COLORS ===
  */
  $color-bg-dark: #202124;
  $color-bg-medium: #28292c;
  $color-bg-light: rgba(241, 243, 244, 0.24);

  $color-text-primary: #e8eaed;
  $color-text-secondary: #80858b;

  $color-accent: #41331c;


  /*
  * === SHADOWS ===
  */
  $shadow-header: 
    0 4px 5px 0 rgba(0,0,0,0.14), 
    0 1px 10px 0 rgba(0,0,0,0.12), 
    0 2px 4px -1px rgba(0,0,0,0.2);


  /*
  * === SIZES ===
  */
  $header-height: 64px;






/*
* === GLOBAL ===
*/
